<h1>Currency pairs</h1>

<p>
  Go <a href="/">back</a>.
</p>

<ul>
  <% @currency_codes.each do |each_code|%>
  <li>

    <a href="/forex/<%=each_code%>"">  
      Convert 1 <%= each_code %> to...
    </a>
  </li>
  <% end %>
</ul>